<h3>String Interpolation: <em class="bg-danger">{{ name }} is {{ getAge() }} {{ 'years' }} old.</em></h3>
<p>Note: Expression enclosed by <em>{{ 'Curly Braces Block - { expr }' }}</em> must return String or object that can be
  converted to String.</p>
<hr>

<div class="d-flex">
  <h3 [innerText]="'Property Binding:'"></h3>
  <!--
      Event Binding allows html onSomething properties to be enclosed within () without 'on'
      followed by typescript expression.
      Example: onClick property -> (click)="onBtnClick()"
  -->
  <div class="d-flex align-items-center ms-5">
    <button class="btn mx-2"
            [ngClass]="{'btn-outline-info': disableAgePlus, 'btn-info': !disableAgePlus}"
            [disabled]="disableAgePlus" (click)="incrementAge()">+
    </button>
    <p class="mx-2">Age: {{ getAge() }}</p>
    <button class="btn mx-2"
            [ngClass]="{'btn-outline-danger': disableAgeMinus, 'btn-danger': !disableAgeMinus}"
            [disabled]="disableAgeMinus" (click)="decrementAge()">-
    </button>
  </div>
</div>
<hr>

<div>
  <h3>Passing Event Data To Event Binding:</h3>
  <label for="inputName"></label>
  <input id="inputName" type="text" (input)="updateName($event)">
  <p>Name: {{ name }}</p>
</div>
<hr>

<div>
  <h3>2-Way Data Binding using ngModel directive:</h3>
  <label for="inputName2"></label>
  <input id="inputName2" type="text" [(ngModel)]="name">
  <p>Name: {{ name }}</p>
</div>
<hr>

<div class="d-flex align-items-center">
  <h3>Angular Built-in Directive:</h3>

  <!--  <div [ngStyle]="{ 'background-color': getAgeBGColor() }" class="ms-5">-->
  <div [ngStyle]="{ backgroundColor: getAgeBGColor() }" class="ms-5">
    <!--  If disableAgePlus is true  -->
    <p *ngIf="disableAgePlus; else minAgeLimitReached">Max. Age Limit Reached!</p>
    <!--  Else If disableAgeMinus is true  -->
    <ng-template #minAgeLimitReached>
      <p *ngIf="disableAgeMinus; else validAge">Min. Age Limit Reached!</p>
    </ng-template>
    <!--  Else  -->
    <ng-template #validAge>
      <!--  ngStyle  -->
      <p class="mx-2">Age: {{ getAge() }}</p>
    </ng-template>
  </div>
</div>
<hr>

<div>
  <button class="btn btn-success mx-2" (click)="onAddNewComponent()">Add New Component</button>
  <button class="btn btn-danger mx-2" (click)="onRemoveComponent()">Delete Component</button>

  <div *ngFor="let comp of componentsList; let i = index;"
       [ngStyle]="{backgroundColor: i % 2 == 0 ? 'lightcyan' : 'lightpink',
       marginTop: '1em'}">
    <p>{{ i }}. {{ name }}</p>
  </div>

</div>



